{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="{% static 'codenames/style.css' %}">
</head>
<body>
    <table>
    <tr>
        {% for cell in group_header %}
        <th {% if cell.class_ %} class="{{ cell.class_ }}"{% endif %}>
            <div {% if cell.title %}title="{{ cell.title }}"{% endif %}>
                {{ cell.content }}
            </div>
        </th>
        {% endfor %}
    </tr>
    {% for row in group_table %}
    <tr>
        {% for cell in row %}
        <td {% if cell.class_ %} class="{{ cell.class_ }}"{% endif %}>
            <div {% if cell.title %}title="{{ cell.title }}"{% endif %} class="hey">
                {{ cell.content }}
            </div>
        </td>
        {% endfor %}
    </tr>
    {% endfor %}
    </table>

    <br>

    {% if upcoming_games %}
    <div>
        Upcoming games:
        {% for round in upcoming_games %}
            <div>
                <p>
                    Round {{ round.0 }}:
                </p>
                <ul>
                    {% for game in round.1 %}
                    <li>{{ game.scheduled_long }}
                    {% endfor %}
                </ul>
            </div>
        {% endfor %}
    </div>
    {% endif %}

    {% if recent_games %}
    <div>
        Recent games:
        {% for round in recent_games %}
            <div>
                <p>
                    Round {{ round.0 }}:
                </p>
                <ul>
                    {% for game in round.1 %}
                    <li>{{ game.finished_long }}
                    {% endfor %}
                </ul>
            </div>
        {% endfor %}
    </div>
    {% endif %}
</body>
</html>
