{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="refresh" content="{{ update_time }}; URL={% url 'codenames:one_group_table' group_name %}">
    <title>Результаты группы {{ group_name }}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'codenames/style.css' %}">
</head>
<body>
    <div class="container">
        <div class="row">
            <table>
            <tr>
                {% for cell in group_header %}
                <th {% if cell.class_ %} class="{{ cell.class_ }}"{% endif %}>
                    <div {% if cell.title %}title="{{ cell.title }}"{% endif %}>
                        {{ cell.content }}
                    </div>
                </th>
                {% endfor %}
            </tr>
            {% for row in group_table %}
            <tr>
                {% for cell in row %}
                <td {% if cell.class_ %} class="{{ cell.class_ }}"{% endif %}>
                    <div {% if cell.title %}title="{{ cell.title }}"{% endif %}>
                        {{ cell.content }}
                    </div>
                </td>
                {% endfor %}
            </tr>
            {% endfor %}
            </table>
        </div>
    </div>

    <br>

    {% if upcoming_games %}
    <div class="container">
        <div class="row">
            <div class="col-100">
                Upcoming games:
            </div>
        </div>
        {% for round in upcoming_games %}
            <div class="row">
                <div class="col-100">
                    Round {{ round.0 }}:
                </div>
                {% for game in round.1 %}
                <div class="col-100">
                    {{ game.scheduled_long }}
                </div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
    {% endif %}
    <br>
    {% if recent_games %}
    <div class="container">
        Recent games:
        {% for round in recent_games %}
            <div class="row">
                <div class="col-100">
                    Round {{ round.0 }}:
                </div>
                {% for game in round.1 %}
                <div class="col-100">
                    {{ game.finished_long }}
                </div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
    {% endif %}
</body>
</html>
