body {
    background-color: #EAE7DC;
}

table, th, td {
    border-collapse: collapse;
    border: 2px solid #E85A4F;
}

th {
    background-color: #E98074;
}

.won_cell {
    font-weight: bolder;
    background-color: #D8C3A5;
}

.place_header {
    width: 15px;
    text-align: center;
}

.place_cell {
    text-align: center;
}

.gameresult_header {
    width: 30px;
}

.gameresult_cell, .played_cell, .won_cell, .lost_cell, .fouls_cell, .wd_cell {
    text-align: center;
}

.auto_win {
    font-style: italic;
    background-color: #8E8D8A;
}

.auto_lose {
    background-color: #8E8D8A;
}

.itself_cell {
    background-color: #202020;
}

.scheduled {
    font-size: small;
    color: #606060;
}
